body {
    background-color: #0d1117;
    color: #fff;
    padding: 10px;
    font-family: "Alliance1", "Alliance1HeaderFallback", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 0px;
}

h2 {
    text-align: left;
    font-size: 2em;
    margin-bottom: 0px;
}

.div_center {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

.sat {
    text-align: center;
}

p {
    color: rgb(139, 148, 158);
    font-size: 1.2em;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    text-decoration: none;
    font-size: 1.4rem;
    color: #000000;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 60px;
    border-radius: 6px;
}

.btn .arrow {
    margin-left: 1em;
    height: 0.12em;
    width: 0em;
    position: relative;
    background: #000000;
    transition: all 0.2s;
}

.btn .arrow::before,
.btn .arrow::after {
  content: "";
  position: absolute;
  right: 0;
  background: #000000;
  height: 0.12em;
  width: 0.5em;
}

.btn .arrow::before {
    transform: rotate(45deg);
    transform-origin: right bottom;
}
  
.btn .arrow::after {
    transform: rotate(-45deg);
    transform-origin: right top;
}

.btn:hover .arrow {
    width: 0.8em;
    margin-left: 0.5em;

}

.max_large {
    width: 100%;
}

.menu {
    justify-content: center;          /* Alignements des liens dans le menu */
}

td {
    /* border: 1px solid #fff; */
    vertical-align: top;
}

.menu a {
    display: block;                   /* Transformation en block */
    width: 200px;                     /* Largeur des liens */   
    margin: 0.6rem;                   /* Marges externes (1 valeurs = 4 directions) */
    
    padding: 0.5rem 0;                /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;               /* Centrage du texte */   
    background-color: #151b23;      /* ArriÃ¨re-plan */
    color: #FFF;                    /* Couleur du texte */
    text-decoration: none;            /* Suppression du soulignement */
    border-radius: 5px;               /* Ajout d'un rond */
    box-shadow: -1px 2px 1px -1px rgba(116, 116, 116, 0.3) inset;
    transition: all 1s;               /* Animation */
    font-size: large;
}

#release div {
    margin-right: 20px;
}

.menu a:hover {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0) inset;
}

.menu div {
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    
    width: 210px;
    height:60px;
    position: relative;
    background-clip: padding-box;
    border-radius: 6px;
}

.menu div:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 8px;
    border-radius: inherit;
    background-color: #000000;
}

.menu div:hover:before {
    background: linear-gradient(45.46deg, rgb(121, 192, 255) -24.67%, rgb(210, 168, 255) 53.55%)
}

.info {
    display: flex;                    /* Transformation en flexbox */
    padding: 0;                       /* Suppression des marges internes */
    justify-content: center;          /* Alignements des liens dans le menu */
}

#files {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    place-items:  center;
}

.info li {
    display: block;                   /* Transformation en block */
    width: 100%;
    margin-top: 7px;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    padding: 0.5rem 1rem;                /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;               /* Centrage du texte */   
    background-color: #151b23;      /* ArriÃ¨re-plan */
    color: rgb(139, 148, 158);
    border: 2.5px solid #000000;
    border-radius: 5px;               /* Ajout d'un rond */
    box-shadow: -1px 2px 1px -1px rgba(116, 116, 116, 0.3) inset;
    font-size: large;
}

.info h2 {
    text-align: center;
    margin: 0px;
    background: linear-gradient(245deg, rgba(210,168,255,1) 30%, rgba(121,192,255,1) 80%);
        background-clip: border-box;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shell {
    outline: 1px solid rgb(0, 0, 0);
    white-space: pre;
    font: 15px Cascadia Mono, monospace;
    line-height: 17px;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    padding: 10px;
    box-shadow: -1px 2px 1px -1px rgba(116, 116, 116, 0.3) inset;
    background-color: #000000;
    border-radius: 5px;               /* Ajout d'un rond */
    
}
