body {
    background-color: #0d1117;
}

#screen_container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.shell {
    outline: 1px solid rgb(0, 0, 0);
    white-space: pre;
    font: 15px Cascadia Mono, monospace;
    padding: 10px;
    box-shadow: -1px 2px 1px -1px rgba(116, 116, 116, 0.3) inset;
    background-color: #000000;
}
